.header__logo {
    width: 10%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 1s;
}

.header__logo:hover {
    width: 20%;
    height: auto;
}

.header__fondo {
    background-image: url(../imagenes/dameros.png);
    background-repeat: no-repeat;
    background-size: cover;
}