.navbar__font {
    font-family: bebasNevue;
    font-size: 2rem;
} 

.navbar__font-king {
    font-family: king;
    font-size: 1.2rem;
}

@font-face {
    font-family: bebasNevue;
    src: url(../funtes/bebasNevue.ttf);
}

@font-face {
    font-family: king;
    src: url(../funtes/king.ttf);
}