.navbar__font {
    font-family: bebasNevue;
    font-size: 2rem;
} 

.navbarFont {
    font-family: king;
}

@font-face {
    font-family: bebasNevue;
    src: url(../funtes/bebasNevue.ttf);
}

@font-face {
    font-family: king;
    src: url(../funtes/king.ttf);
}