@mixin sizesImg {
    height: 300px;
    width: 30px;
}

.cardImg {
    @include sizesImg;
}

$btnMap: (saga:rgb(13, 17, 53), solo:rgb(28, 31, 30));

@each $boton, $color in $btnMap {
    .btn--#{$boton}{
        background-color: $color;
    }
}

$colorModal: rgb(24, 23, 23); 

.modi {
    color: $colorModal;
}

.modi--titulo {
    @extend .modi;
    font-size: 2rem;
}

