@import "header";
@import "navbar";
@import "sectionIndex";
@import "sectionRecomendaciones";
@import "sectionDiez";
@import "sectionConseguilo";
@import "sectionTodos";
@import "sectionContacto";
@import "footer";

// Body

body {
    color: whitesmoke;
}

.bg-grey {
    background-color: gray;
}

.c-azul {
    color: rgb(11, 11, 63);
}

.c-gris {
    color: rgb(41, 39, 39);
}

.bg-azul {
    background-color: rgb(11, 11, 63);
}

.bg-gris {
    background-color: rgb(41, 39, 39);
}

.c-white {
    color: whitesmoke;
}

.font {
    font-family: king;
}

@font-face {
    font-family: king;
    src: url(../funtes/king.ttf);
}